html, body {
/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}}
body {font-family: montserrat; height: 100%; margin: 0; padding: 0; width: 100%;}
.layout {
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-rows: auto 1px 1fr auto;
    grid-template-areas: 
    ". header ."
    "hr hr hr"
    ". mainblock ."
    "footer footer footer";
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-image: url(../images/background.svg), url(../images/statyabigbackground.svg), url(../images/statyasmallbackground.svg);
    background-repeat: no-repeat;
    background-position-y: 5680px, 2460px, 5269px;
    background-position-x: center, right, right;
    background-size: 100vw, (686px 606px), (272px 240px);
    background-size: cover, auto, auto;
}
@media screen and (max-width: 1024px){
    .layout {
        background-image: none;
    }
}
p{margin-top: 0;}
/* Шапка*/
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    position: sticky;
}
.header__left {
    margin: 0;
}
.header__middle-nav {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    flex-wrap: nowrap;
    justify-items: center;
}
.header__middle-active {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    margin-right: 30px;
    align-self: center;
    justify-items: center;
}
@media screen and (max-width: 1024px){
    .header__middle-active {
        margin-right: 16px;
        font-weight: 400;
    }
}
.header__middle-active:nth-last-child {
    margin-right: 0;
}
.header__middle-link {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    display: inline-flex;
    justify-content: center;
}
.header__right-buttondesktop {
    background-color: rgba(227, 245, 245, 1);
    color: rgba(3, 178, 165, 1);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    width: 230px;
    height: 48px;
}
.header__right-burger {
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 769px){
    .header__right-burger {
        display: none;
    }
}
@media screen and (max-width: 768px){
    .header__right-buttondesktop {
        display: none;
    }
    .header__middle {
        display: none;
    }
}
.header__line-hr {
    grid-area: hr;
    border: rgba(239, 245, 251, 1) solid 1px;
    width: 100%;
    margin: 0;
}
/* Основной контент*/
.mainblock {
    grid-area: mainblock;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 690px auto;
}
@media screen and (max-width: 768px){
    .mainblock {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    width: 100%;
    }
}
.mainblock__left {
    grid-area: span 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.mainblock__chosedpage {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    max-width: 90vw;
    white-space: nowrap;
    overflow: hidden;
}
.mainblock__chosedpage-link {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
    font-weight: 400;
    height: auto;
    margin-left: 0;
}
.mainblock__title {
    font-weight: 700;
    font-size: 48px;
    color: rgba(51, 51, 51, 1);
    margin-top: 30px;
    margin-bottom: -8px;
    line-height: normal;
}
.mainblock__author-date {
    display: flex;
    gap: 8px;
    align-content: center;
    font-size: 14;
    font-weight: 400;
    color: rgba(73, 73, 73, 1);
}
@media screen and (max-width: 414px){
    h1.mainblock__title {
        font-size: 32px;
    } 
}
@media screen and (max-width: 320px){
    h1.mainblock__title {
        font-size: 24px;
    }
}
.mainblock__image-big {
    width: 100%;
    max-height: 331px;
    object-fit: cover;
}
.mainblock__list {
    display: flexbox;
    max-width: 588px;
    padding: 0;
    margin-bottom: 0;
}
h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 32px;
}
.mainblock__list-items {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline solid;
    text-decoration-skip-ink: none;
    color: rgba(51, 51, 51, 1);
    flex-direction: column;
    list-style: none;
    margin-left: 0;
    margin-right: auto;
    margin-top: 16px;
    padding-left: 24px;
}
.mainblock__list-item {
    position: relative;
    margin-left: 8px;
    padding-left: 0;
    display: inline-block;
}
.mainblock__list-item::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(3, 178, 165, 1);
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 1024px){
    .mainblock__list-item:nth-of-type(n+2):not(:last-child) {
        display: none; 
    }
}
.mainblock__list-items-low {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.mainblock__list-item-low {
    list-style: none;
}
@media screen and (max-width: 1024px){
    .mainblock__list-item-low {
        display: none; 
    }
}
.mainblock__list-item-low:nth-child(2) {
    margin-left: 16px;
}
.mainblock__list-item-low:nth-child(3) {
    margin-left: 32px;
}
.mainblock__textblock-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.mainblock__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.mainblock__quote {
    background-color: rgba(243, 247, 254, 1);
    border-radius: 16px;
    gap: 8px;
    display: flexbox;
    background-image: url(../images/quote.svg);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    padding: 24px;
    padding-top: 34px;
    margin:0 0;
    grid-template-rows: 100%;
}
.mainblock__quote-text-author {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.mainblock__quote-author {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    margin-top: 8px;
}
.mainblock__textblock2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flexbox;
    gap: 16px;
}
.mainblock__textblock-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}
.mainblock__textblock-list-item {
    position: relative;
    margin-left: 32px;
    padding-left: 0;
    display: inline-block;
}
.mainblock__textblock-list-item::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(3, 178, 165, 1);
    position: absolute;
    left: -24px;
    top: 8px;
}
.mainblock__imageblock-under {
    font-weight: 400;
    font-size: 14px;
    color: rgba(134, 134, 134, 1);
}
.mainblock__bigblock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}
@media screen and (max-width: 768px){
    .mainblock__bigblock {
        margin-bottom: 0;
    }
}
.mainblock__bigblock-withbackground {
    background-image: url(../images/backgroundbigblock.svg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainblock__bigblock-withbackground-text {
    min-width: 288px;
    max-width: 485px;
    text-align: center;
}
.mainblock__bigblock-imagetext {
    display: grid;
    grid-template-columns: 282px auto;
    grid-template-areas: "image text";
    gap: 24px;
    padding: 0;
}
@media screen and (max-width: 414px){
    .mainblock__bigblock-imagetext {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "image" "text";
    }
}
.mainblock__bigblock-imagetext-image {
    grid-area: image;
    width: 100%;
    min-height: 174px;
    max-height: 380px;
    object-fit: cover;
}
.mainblock__bigblock-exercise {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    background-color: rgba(254, 250, 236, 1);
    padding: 24px;
}
.mainblock__bigblock-imagetext2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}
@media screen and (max-width: 414px){
    .mainblock__bigblock-imagetext2 {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "image" "text";
    }
}
.mainblock__bigblock-imagetext2-contaner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mainblock__bigblock-imagetext2-image {
    width: 100%;
    object-fit: cover;
    height: 235px;
}
.mainblock__bigblock-molniya {
    width: 178px;
    margin: 0 auto;
}
#mainblock__bigblock-exercise2 {
    background-color: rgba(3, 178, 165, 0.1);
}
.mainblock__bigblock-categories-contaner {
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;
}
@media screen and (max-width: 1024px){
    .mainblock__bigblock-categories-contaner{
        display: none;
    }
}
.mainblock__bigblock-categories {
    text-decoration: none;
    color: rgba(41, 99, 163, 1);
    font-size: 14px;
    font-weight: 400;
}
.mainblock__bigblock-categories::after {
    content: "\B7";
    position: absolute;
    margin-left: 8px;
}
.mainblock__bigblock-categories:last-child::after {
    content: "";
}
.mainblock__form-container {
    display: flex;
    grid-column: span 2;
    border-top: rgba(222, 222, 222, 1) solid 1px;
    padding-top: 72px;
    padding-bottom: 158px;
    margin-top: 48px;
    background-image: url(../images/vectorhumans.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: (520px, 330px);
}
@media screen and (max-width: 1024px){
    .mainblock__form-container {
        display: none;
    }
}
.mainblock__form {
    display: flex;
    flex-direction: column;
    width: 348px;
}
.mainblock__form-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 24px;
}
.mainblock__form-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.mainblock__form-button {
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    border: none;
    padding: 20px 24px;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: max-content;
}
.mainblock__right-side-container {
    display: flex;
    flex-direction: column;
    width: 282px;
    position: relative;
    grid-area: span 1;
    margin-right: 0;
    margin-left: auto;
    margin-top: 88px;
    gap: 24px;
}
@media screen and (max-width: 1024px){
    .mainblock__right-side-container {
        width: 222px;
    }
}
@media screen and (max-width: 768px){
    .mainblock__right-side-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto;
        gap: 24px;
        width: 100%;
        margin-top: 23px;
        margin-bottom: 59px;
    }
}
@media screen and (max-width: 414px){
    .mainblock__right-side-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 23px;
}
}
.mainblock__right-side1-container{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: rgba(230, 240, 253, 1);
    border-radius: 16px;
    gap: 24px;
    align-items: center;
}
.mainblock__right-side1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 100%;
    text-wrap: wrap;
}
.mainblock__right-side1-image {
    width: 100%;
}
.mainmlock__right-side1-textblock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.mainblock__right-side1-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.mainblock__right-side1-button {
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 100%;
}
.mainblock__right-side2 {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: rgba(239, 245, 251, 1) solid 1px;
    box-shadow: rgba(239, 245, 251, 1) 0px 30px 50px 0px;
    align-items: center;
    padding: 24px 16px 36px 16px;
    height: min-content;
    position: relative;
}
@media screen and (min-width: 415px) {
    .mainblock__right-side2, .mainblock__right-side1 {
        height: auto;
    }
}
.mainblock__right-side2-topbutton-1, .mainblock__right-side2-topbutton-2 {
    width: max-content;
    border-radius: 6px;
    padding: 6px;
    gap: 4px;
    background-color: rgba(243, 244, 248, 0.7);
    border: none;
}
.mainblock__right-side2-topbutton-1 {
    position: absolute;
    margin-top: -8px;
    left: 16px;
    margin-right: auto;
}
.mainblock__right-side2-topbutton-2 {
    position: absolute;
    margin-top: 24px;
    left: 16px;
    margin-right: auto;
}
.mainblock__right-side2-image {
    border-radius: 360px;
    height: 120px;
    width: 120px;
    object-fit: cover;
}
.mainblock__right-side2-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
}
.mainblock__right-side2-role {
    font-weight: 600;
    font-size: 16px;
}
.mainblock__right-side2-experience-container {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(162, 167, 177, 1);
}
.mainblock__right-side2-list {
    padding-top: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid rgba(162, 167, 177, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    gap: 8px;
}
.mainblock__right-side2-list-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}
.mainblock__right-side2-list-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.mainblock__right-side2-list-item {
    position: relative;
    display: inline-block;
    margin-left: 16px;
}
.mainblock__right-side2-list-item::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(3, 178, 165, 1);
    position: absolute;
    left: -11px;
    top: 7px;
}
.mainblock__right-side2-button {
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 100%;
}
.mainblock__right-side3 {
    background-color: rgba(41, 99, 163, 1);
    border-radius: 16px;
    height: 292px;
    width: 100%;
    position: relative;
}
.mainblock__right-side3-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 3;
    margin-top: 60px;
    z-index: 3;
}
.mainblock__right-side3-image1 {
    position: absolute;
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    z-index: 1;
}
.mainblock__right-side3-image2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
}
.mainblock__right-side4 {
    border-radius: 24px;
    border: rgba(222, 222, 222, 1) solid 1px;
    height: 292px;
    position: relative;
}
.mainblock__right-side4-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 2;
    height: min-content;
    margin: 32px;
}
.mainblock__right-side4-titleinline {
    display: inline-flex;
    color: rgba(41, 99, 163, 1);
    font-size: 18px;
    font-weight: 700;
    gap: 4px;
    justify-items: flex-end;
    line-height: 27px;
}
.mainblock__right-side4-8 {
    font-size: 24px;
    line-height: 24px;
}
.mainblock__right-side4-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: open sans;
}
.mainblock__right-side4-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.mainblock__right-side4-button {
    background-color: rgba(22, 200, 187, 1);
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: min-content;
    z-index: 2;
}
.mainblock__right-side4-image{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .mainblock__right-side3, .mainblock__right-side4 {
        height: 242px;
    }
    .mainblock__right-side3-text {
        margin-top: 20px;
    }
}
@media screen and (max-width: 414px) {
    .mainblock__right-side3, .mainblock__right-side4 {
        height: 292px;
    }
    .mainblock__right-side3-text {
        margin-top: 60px;
    }
}
/*Подвал*/
.footer {
    grid-area: footer;
    background-color: rgba(41, 99, 163, 1);
    background-size: 100%;
    display: block;
}
.footer__block {
    display: grid;
    grid-template-columns: minmax(16px, auto) minmax(288px, 1200px) minmax(16px, auto);
    grid-template-areas: ". footer__block .";
}
.footer__grid {
    grid-area: footer__block;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto auto;
    grid-template-areas:
    "footer__nav footer__nav footer__email footer__email footer__socials footer__socials"
    "links links links links links links";
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.footer__grid-nav {
    grid-area: footer__nav;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: flex-start;
    margin-top: 40px;
    gap: 91px;
    margin-left: 0;
}
.footer__nav1 {
    display: flex;
    grid-area: span 1;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    justify-items: start;
    margin-left: 0;
    padding-left: 0;
}
.footer__nav2 {
    display: flex;
    grid-area: span 1;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    justify-items: start;
    margin-left: 0;
    padding-left: 0;
}
.footer__nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    margin-top: 0;
    justify-items: start;
}
.footer__grid-email {
    grid-area: footer__email;
    display: flex;
    margin: 0 91.5px;
    justify-items: flex-start;
    margin-top: 40px;
    width: 486px;
}
.footer__email-title {
    display: block;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
    margin-top: 0;
    word-break: normal;
    width: 384px;
    white-space: normal;
}
.footer__email-text {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    opacity: 0.7;
    margin-top: 8px;
}
.footer__email-inputs {
    display: flex;
    gap: 0px;
    width: 384px;
    height: 48px;
}
.footer__email-input {
    height: 48px;
    width: 384px;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.2);
    z-index: 1;
    color: rgba(157, 157, 157, 1);
    font-size: 14px;
    font-weight: 400;
}
.footer__email-button {
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    background-color: rgba(22, 200, 187, 1);
    border: none;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 320px;
}
.footer__email-button-img {
    width: 24px;
    height: 24px;
}
.footer__grid-socials {
    grid-area: footer__socials;
    display: flexbox;
    gap: 40px;
    justify-items: flex-end;
    align-items: center;
}
#skolkovo {
margin-bottom: 40px;
}
.footer__socials-icons {
    display: flex;
    gap: 16px;
}
.footer__copyright {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    grid-area: links;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
    margin-bottom: 17px;
    width: 100%;
    opacity: 0.7;
    padding-top: 16px;
}
.footer__copyright-link {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-left: 48px;
    opacity: 0.7;
}
.footer__copyright-link:nth-child(1) {
    margin-left: 0;
}
@media screen and (max-width: 1024px) {
    .footer__grid-email {
        margin: 0 21px;
        margin-top: 40px;
        width: 450px;
}
.footer__grid-nav {
    gap: 30px;
}
}
@media screen and (max-width: 768px) {
    .footer__grid {
        grid-area: footer__block;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "footer__nav footer__nav footer__nav footer__email footer__email footer__email"
        "footer__socials footer__socials . . . ."
        "links links links links links links";
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }
    .footer__grid-email {
        margin-left: 0;
        margin-right: 0;
    }
    .footer__grid-socials {
        justify-items: left;
        margin-top: 26px;
    }
    .footer__copyright {
        margin-top: 27px;
        margin-bottom: 23px;
    }
}    
@media screen and (max-width: 414px) {
    .footer__grid {
        grid-area: footer__block;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "footer__nav"
        "footer__email"
        "footer__socials"
        "links";
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }
    .footer__grid-nav {
        width: 375px;
        gap: auto;
    }
    .footer__grid-email {
        margin-left: 0;
        margin-right: 14px;
        margin-top: 23px;
        margin-bottom: 23px;
        width: 360px;
    }
    .footer__email-inputs {
        width: 360px;
    }
    .footer__email-button {
        margin-left: 296px;
    }
    .footer__email-input {
        width: 360px;
    }
    .footer__grid-socials {
        margin-top: 0;
        margin-left: 0;
        margin-right: auto;
    }
    .footer__copyright {
        flex-direction: column;
        margin-top: 27px;
        margin-bottom: 23px;
        margin-left: 0;
        margin-right: auto;
        justify-items: start;
        gap: 20px;
    }
    .footer__copyright-link {
        opacity: 0.7;
        flex-direction: column;
        margin-left: 0;
        margin-right: auto;
    }
    .footer__email-title {
        width: 360px;
    }
    .footer__email-text {
        width: 360px;
    }
}
@media screen and (max-width: 320px) {
    .footer__grid-nav {
        width: 288px;
    }
    .footer__grid-email {
        width: 288px;
        overflow-wrap: normal;
        margin-top: 23px;
        margin-right: 0;
    }
    .footer__email-title {
        width: 288px;
    }
    .footer__nav1.footer__nav2 {
        margin-bottom: 0;
    }
    .footer__email-inputs {
        width: 288px;
    }
    .footer__email-button {
        display: none;
    }
    .footer__email-input {
        width: 288px;
    }
    .footer__email-title {
        width: 288px;
    }
    .footer__email-text {
        width: 288px;
    }
}
